
body {
  color: #FFF;
  background: #000;
}

h1, h2, h3, h4 {
  font-weight: bolder;
  font-style: italic;
}

.btn-primary{
  background-color: #254152!important;
  border-color: #254152!important;
}

.btn-primary:hover {
  background-color: #142530!important;
}

.btn-outline-light {
  border-color: #f8f9fa40!important;
}

.btn-outline-danger {
  border-color: #dc35458c!important;
}

.modal-content{
  color: #254152!important;
  font-weight: bold;
  text-align: center;
}

.modal-body{
  padding: 40px!important;
}
