.container-dashboard {
    background: #302d36bb;
    color: #fff;
    padding: 50px!important;
    margin-top: 10px;
    border-radius: 10px;
}

.container-dashboard.fixed-panel{
    height: 97vh;
    overflow-y: scroll;
}