.container-dashboard {
    background: #302d36bb;
    color: #fff;
    padding: 30px!important;
    margin-top: 10px;
    border-radius: 10px;
}

.container-dashboard.fixed-panel{
    min-height: 97vh;
}