section.dashboard-bg{
    background-image: url("../assets/images/bg-dashboard_.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

section.dashboard-bg a{
    color: #fff;
    font-size: 12px;
}

section.updateform{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.updateform .container-dashboard{
    min-width: 350px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}