section.login-bg{
    background-image: url("../assets/images/bg-task.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.login-bg a{
    color: #fff;
    font-size: 12px;
}